@charset "UTF-8";

* {
    font-family: monospace;
    /* heigh: 100% */
}
body {
    background-image: linear-gradient(90deg, #942929, #8C0303, #590202);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 7px 7px 10px #4001016f ;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #8C0303;
    text-align: center;
    text-shadow: 1px 1px 1px #400101;
}
h2 {
    color: #590202;

}

p {
    text-align: justify;
}

